<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="searchEngineApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">searchEngine</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/about">About</a></li>
              <li><a ng-href="#/">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div ng-controller="MainCtrl" class="row">
      <div class="col-xs-8">
      <h2>Movies</h2>
      <div ng-controller = "SubCtrl">
        <h4 ng-bind="title"></h1>
      </div>
      <div ng-repeat="movie in movies" style="clear: both;  margin-bottom: 80px;">
        <h3 ng-bind="movie.title"></h3>
        <img src="{{movie.image}}" alt="" style="float: left; width: 80px; margin-right: 10px;">
        <div ng-bind="movie.description"></div>
      </div>
      </div>
      <div class="col-xs-4">
        <h2>Add</h2>
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" placeholder="Enter title" ng-keyup="validateTitle()" ng-model="newMovieTitle">
        </div>
        <div class="form-group">
          <label>Image</label>
          <input class="form-control" placeholder="Image" ng-model="newMovieImage">
          <div>
            <h4>Preview</h4>
            <img ng-src="{{newMovieImage}}" alt="">
          </div>
          <div class="form-group">
            <label>Category</label>
            <select class="form-control" ng-change="checkCategorySelected()" ng-model="newMovieCategory">
              <option value=""></option>
              <option value="Epic">Epic</option>
              <option value="Awesome">Awesome</option>
              <option value="Average">Average</option>
            </select>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" ng-blur="checkDescription()" ng-model="newMovieDescription"></textarea>
          </div>
          <button class="btn btn-info" type="button" ng-click="addMovie()">Add</button>
        </div>
      </div>
    </div>

    <div ng-controller="FormCtrl">
      Title: <input type="text" name="title">

    </div>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
</body>
</html>
